<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Steep Shop</title>
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-database.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
        SteepShop
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" id="addProduct">
                    <i class="fas fa-plus-circle"></i> Add Product
                </a>
            <li class="nav-item">
                <a class="nav-link" href="#" id="cart-icon">
                    <i class="fas fa-shopping-cart"></i> Cart
                    <span id="cart-count" class="badge badge-light"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="main-content">
    <div class="container">
        <div class="row">
            <div th:each="product : ${products}" class="col-md-4 mb-3">
                <div class="card product-card" th:attr="data-product-id=${product.id}">
                    <img th:src="@{${product.imageUrl}}" class="card-img-top" alt="Product Image" loading="lazy">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${product.name}">Product Name</h5>
                        <p class="card-text" th:text="${product.description}">Product Description</p>
                        <p class="card-text">Price: <span class="price-text">$<span
                                th:text="${product.price}"></span></span></p>
                        <p class="card-text">Available Quantity: <span th:text="${product.quantity}">0</span></p>
                        <button class="btn btn-purchase">Purchase</button>
                        <button class="btn btn-edit">Edit</button>
                        <button class="btn btn-delete" th:attr="data-product-id=${product.id}">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="chat-container">
    <div class="tabs">
        <button class="tab-button active room-button" data-room-id="room1">Room 1</button>
        <button class="tab-button room-button" data-room-id="room2">Room 2</button>
    </div>
    <div id="room1" class="chat-room active room1">
        <div id="chat-messages" class="chat-messages"></div>
    </div>
    <div id="room2" class="chat-room room2">
        <div id="chat-messages-room2" class="chat-messages"></div>
    </div>
    <div class="chat-input">
        <label for="messageInput"></label><input type="text" id="messageInput" placeholder="Type your message here...">
        <button id="sendButton">Send</button>
    </div>
</div>

<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel">Edit Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editProductForm">
                    <div class="form-group">
                        <label for="productName">Product Name</label>
                        <input type="text" class="form-control" id="productName" required>
                    </div>
                    <div class="form-group">
                        <label for="productDescription">Product Description</label>
                        <textarea class="form-control" id="productDescription" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="productPrice">Price</label>
                        <input type="number" class="form-control" id="productPrice" min="0" step="0.01" required>
                    </div>
                    <div class="form-group">
                        <label for="productQuantity">Quantity</label>
                        <input type="number" class="form-control" id="productQuantity" min="0" required>
                    </div>
                    <div class="form-group">
                        <label for="productImageUrl">Image URL</label>
                        <input type="text" class="form-control" id="productImageUrl" required>
                    </div>
                    <div class="form-group">
                        <label for="productCategoryId">Category ID</label>
                        <input type="number" class="form-control" id="productCategoryId" min="0" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="saveChanges">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="cart-menu" class="cart-menu">
    <div class="cart-header">
        <h4>Cart</h4>
        <button id="close-cart" class="close-cart-btn" style="border: none; background: none;">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div id="cart-items" class="cart-items">
    </div>
    <div class="cart-footer">
        <h5>Total: $<span id="cart-total">0</span></h5>
    </div>
</div>


<footer class="text-center mt-4 py-2 bg-light">
    © 2024 Steep Shop. All rights reserved.
</footer>
<script src="/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>